.nav-container{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0 0 0 / 70%) -12px 0px 17px -3px;
    padding: 0 2rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img1{
    width: 50px;
    height: 30px;
}

.logo-img2{
    width: 100px;
    height: 50px;
}

.search{
    height: 35px;
    width: 450px;
    display: flex;
    align-items: center;
}

.search-input{
    height: 100%;
    width: 75%;
    padding: 0.8rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #DDDDDD;
    transition: all 0.3s ease 0s;
    border-radius: 5px 0px 0px 5px;
}

.search-input:focus{
    width: 85%;
}

.search-btn{
    height: 100%;
    background: #39CDCC;
    outline: none;
    border: none;
    width: 70px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.search-icon{
    color: white;
}

.profile{
    display: flex;
    align-items: center;
}

.link{
    margin-right: 30px
}

.profile-pic{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-right: 10px
}

.login-detail{
    padding: 0 1.5rem;
    position: relative;
}

.menu-profile{
    display: flex;
    align-items: center;
}

.nav-logout{
    position: absolute;
    top: 2.5rem;
    left: 4rem;
    background: white;
    box-shadow: rgb(0 0 0 / 70%) 0px 0px 12px -1px;
    cursor: pointer;
    padding: 1rem;
}
.nav-logout:hover{
    background: #DDDDDD;
}

.user{
    display: flex;
    align-items: center;
}

.user button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-left: 5px;
}
/* SIDEBAR */

.side-bar-container{
    position: absolute;
    top: 70px;
    width: 20%;
    min-height: 1400px;
    box-shadow: rgb(0 0 0 / 70%) 10px 5px 11px -9px;
}

.side-bar{
    padding: 2rem;
}

li{
    list-style: none;
}

.links{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 1rem;
    color: #000;
}

.section{
    margin-top: 1.5rem;
}

.sidebar-icon{
    font-size: 1.2rem;
    margin-right: 10px;
}

.switch-title{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.dashboard-title{
    margin-top: 2rem;
} 